.margin-5
  margin: .5rem

.hero.is-fullheight .hero-body > .container
  height: 90%

.featured-img-bg
  background-size: cover
  background-position: center
  opacity: .7
  &:hover
    opacity: 1
.columns
  flex-wrap: wrap
