/*#portfolio-id {
  height: 100vh!important;
}*/
[class^="card-header-"], [class*=" card-header-"] {
  transform: rotate(90deg);
	transform-origin: left top 0;
}
.card-header-alejuu {
  left: 1em;
}
.card-header-portfolio {
  /*left: 1.7em;*/
  left: 1.2em;
  bottom: 4em;
}
.card-header-blog {
  left: 1.2em;
}
.card-header-connect {
  left: 1.2em;
}

.glitch {
  /*position:absolute;
  opacity:0;*/
  color: transparent;
  font-size: 100px;
  /*position: relative;*/
  /*width: 400px;*/
  /*margin: 0 auto;*/
}
.glitch:after {
  content: attr(data-text);
  position: absolute;
  left: 2px;
  text-shadow: -1px 0 var(--gold);
  /*left: 0;*/
  top: 0;
  /*color: var(--white);*/
  /*background: black;*/
  overflow: hidden;
  /*clip: rect(0, 900px, 0, 0);*/
  /*animation: noise-anim 10s linear alternate-reverse;*/
  animation: noise-anim 3s;
  animation-fill-mode: forwards;
}
.glitch:before {
  content: attr(data-text);
  position: absolute;
  left: -2px;
  text-shadow: 1px 0 var(--purple);
  top: 0;
  color: var(--white);
  /*background: black;*/
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  /*animation: noise-anim-2 3s linear alternate-reverse;*/
  animation: noise-anim-2 3s;
  animation-fill-mode: forwards;
}

.overlay {
  visibility: hidden;
}
[id^="pop-up-"]:target, [id*=" pop-up-"]:target {
  visibility: visible;
  opacity: 1;
}
/*#pop-up-about:target {
  visibility: visible;
  opacity: 1;
}*/
@media (--breakpoint-not-small) {
  .card-header-alejuu {
    color: var(--white);
  }
  .card-header-portfolio {
    left: 1.5em;
    color: var(--black);
  }
  .card-header-blog {
    left: 1.5em;
    color: var(--black);
  }
  .card-header-connect {
    left: 1.5em;
    color: var(--black);
  }
}

@keyframes noise-anim {
  0% {
    clip: rect(82px, 9999px, 43px, 0);
    opacity: 0;
  }
  5% {
    clip: rect(79px, 9999px, 18px, 0);
  }
  10% {
    clip: rect(67px, 9999px, 80px, 0);
  }
  15% {
    clip: rect(21px, 9999px, 4px, 0);
  }
  20% {
    clip: rect(53px, 9999px, 95px, 0);
  }
  25% {
    clip: rect(100px, 9999px, 70px, 0);
  }
  30% {
    clip: rect(64px, 9999px, 9px, 0);
  }
  35% {
    clip: rect(65px, 9999px, 98px, 0);
  }
  40% {
    clip: rect(68px, 9999px, 63px, 0);
  }
  45% {
    clip: rect(51px, 9999px, 3px, 0);
  }
  50% {
    clip: rect(50px, 9999px, 42px, 0);
  }
  55% {
    clip: rect(94px, 9999px, 98px, 0);
  }
  60% {
    clip: rect(17px, 9999px, 44px, 0);
  }
  65% {
    clip: rect(55px, 9999px, 99px, 0);
  }
  70% {
    clip: rect(79px, 9999px, 19px, 0);
  }
  75% {
    clip: rect(30px, 9999px, 5px, 0);
  }
  80% {
    clip: rect(48px, 9999px, 67px, 0);
  }
  85% {
    clip: rect(85px, 9999px, 19px, 0);
  }
  90% {
    clip: rect(6px, 9999px, 49px, 0);
  }
  95% {
    clip: rect(63px, 9999px, 84px, 0);
  }
  100% {
    clip: rect(88px, 9999px, 33px, 0);
    opacity: 1;
  }
}
@keyframes noise-anim-2 {
  0% {
    clip: rect(29px, 9999px, 49px, 0);
    opacity: 0;
  }
  5% {
    clip: rect(47px, 9999px, 5px, 0);
  }
  10% {
    clip: rect(100px, 9999px, 10px, 0);
  }
  15% {
    clip: rect(94px, 9999px, 25px, 0);
  }
  20% {
    clip: rect(47px, 9999px, 77px, 0);
  }
  25% {
    clip: rect(78px, 9999px, 59px, 0);
  }
  30% {
    clip: rect(14px, 9999px, 27px, 0);
  }
  35% {
    clip: rect(40px, 9999px, 67px, 0);
  }
  40% {
    clip: rect(93px, 9999px, 74px, 0);
  }
  45% {
    clip: rect(94px, 9999px, 72px, 0);
  }
  50% {
    clip: rect(87px, 9999px, 34px, 0);
  }
  55% {
    clip: rect(1px, 9999px, 6px, 0);
  }
  60% {
    clip: rect(68px, 9999px, 45px, 0);
  }
  65% {
    clip: rect(74px, 9999px, 46px, 0);
  }
  70% {
    clip: rect(89px, 9999px, 41px, 0);
  }
  75% {
    clip: rect(69px, 9999px, 78px, 0);
  }
  80% {
    clip: rect(31px, 9999px, 20px, 0);
  }
  85% {
    clip: rect(36px, 9999px, 14px, 0);
  }
  90% {
    clip: rect(99px, 9999px, 9px, 0);
  }
  95% {
    clip: rect(40px, 9999px, 36px, 0);
  }
  100% {
    clip: rect(68px, 9999px, 40px, 0);
    opacity: 1;
  }
}
