/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;
    height: 100%;
    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

/*Dots*/
.slick-dots {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 0;
  text-align: center;
  display: flex;
}

.slick-dots > li {
  display: inline-block;
  /*visibility: hidden;*/
  flex: 1;
}
.slick-dots > li > button {
  /*visibility: hidden;*/
  background: var(--black-50);
  border-radius: 360px;
  padding: 2px;
  border: none;
  color: transparent;
}
.slick-dots > li> button:after {
  content: '●';
  position: relative;
  visibility: visible;
  opacity: .5;
  /*top: 0;
  left: 0;*/
  left: -4.5px;
  /*right: 0;*/
  cursor: pointer;
  color: var(--white);
}
/*.slick-dots > li:after {
  content: '●';
  position: relative;
  visibility: visible;
  opacity: .5;
  top: 0;
  left: 0;
  left: -50%;
  right: 0;
  cursor: pointer;
  color: #fff;
}*/
li.slick-active > button {
  background: var(--black);
}
li.slick-active > button:after {
  opacity: 1;
}
/*Arrows*/
.slick-arrow {
  position: absolute;
  /*top: 50%;*/
  background: transparent;
  border: none;
  opacity: 0;
  cursor: pointer;
  transition: opacity .15s ease-in-out;
}

.slick-arrow:hover {
  background: linear-gradient( 223deg, rgba(105,130,155,0.2), rgba(0,0,0,0.4), rgba(170,170,170,0.2) );
  opacity: 1;
}

.slick-next {
  top: 0;
  right: 0;
  font-size: 0;
  height: 100%;
  width: 50px;
}

.slick-prev {
  top: 0;
  left: 0;
  font-size: 0;
  height: 100%;
  width: 50px;
  z-index: 1;
}

.slick-prev:after {
  content:'❬';
  visibility: visible;
  display: block;
  position: absolute;
  font-size: 30px;
  left: 0;
  right: 0;
}

.slick-next:after {
  content:'❭';
  visibility: visible;
  display: block;
  position: absolute;
  font-size: 30px;
  left: 0;
  right: 0;
}
