#blog-link {
  pointer-events: none;
  text-decoration: line-through;
}
.menu-container {
	pointer-events: none;
	z-index: 100;
}
.menu-item {
	/*font-family: 'Rozha One', serif;*/
	font-size: 3.5vmax;
	transform: translateY(-100%);
	pointer-events: none;
	transition: transform 0.3s, opacity 0.3s;
	transition-timing-function: ease-in;
}

.menu-item {
	transform: translateY(100%);
}

.menu-item.is-opened {
	opacity: 1;
	transform: translateY(0) rotate(0);
	pointer-events: auto;
	transition-timing-function: ease;
}

.menu-item.is-opened {
	transition-duration: 0.8s;
}

.menu-item:nth-of-type(1) {
	transition-delay: 0.25s;
}

.menu-item.is-opened:nth-of-type(1) {
	transition-delay: 1s;
}

.menu-item:nth-of-type(2) {
	transition-delay: 0.2s;
}

.menu-item.is-opened:nth-of-type(2) {
	transition-delay: 1.1s;
}

.menu-item:nth-of-type(3) {
	transition-delay: 0.15s;
}

.menu-item.is-opened:nth-of-type(3) {
	transition-delay: 1.2s;
}

.menu-item:nth-of-type(4) {
	transition-delay: 0.1s;
}

.menu-item.is-opened:nth-of-type(4) {
	transition-delay: 1.3s;
}

.shape-overlays {
	pointer-events: none;
  z-index: 10;
  transition: opacity 0.8s;
}

.shape-overlays.is-opened {
	pointer-events: auto;
}

.shape-overlays__path:nth-of-type(1) {
	fill: url(#gradient1);
}

.shape-overlays__path:nth-of-type(2) {
	fill: url(#gradient2);
}

.shape-overlays__path:nth-of-type(3) {
	fill: url(#gradient3);
}

.shape-overlays__path:nth-of-type(4) {
	fill: url(#gradient4);
}

@-webkit-keyframes intervalmenu-iconBorder {
	0% {
		opacity: 1;
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	80% {
		-webkit-transform: scale(1.6);
		transform: scale(1.6);
	}
	100% {
		opacity: 0;
		-webkit-transform: scale(1.6);
		transform: scale(1.6);
	}
}
@keyframes intervalmenu-iconBorder {
	0% {
		opacity: 1;
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	80% {
		-webkit-transform: scale(1.6);
		transform: scale(1.6);
	}
	100% {
		opacity: 0;
		-webkit-transform: scale(1.6);
		transform: scale(1.6);
	}
}

.menu-icon {
  /*position: fixed;
  top: 0.5em;
  right: 0.5em;*/
  transform: scale(0.75);
}

.menu-icon-line {
	width: 28px;
	height: 2px;
	overflow: hidden;
	position: absolute;
	z-index: 10;
}

.menu-icon-line-in {
	width: 84px;
	height: 2px;
	position: absolute;
	top: 0;
	left: 0;
}

.menu-icon-line-in::before,
.menu-icon-line-in::after {
	width: 28px;
	height: 2px;
	content: '';
	display: block;
	position: absolute;
	top: 0;
	background-color: #ffffff;
}

.menu-icon-line-in::before {
	left: -56px;
}

.menu-icon-line-in::after {
	left: 0;
}

.menu-icon-line-01,
.menu-icon-line-02,
.menu-icon-line-03,
.menu-icon-cross-01,
.menu-icon-cross-02 {
	left: 18px;
}

.menu-icon-line-01 {
	top: 24.6px;
}

.menu-icon-line-02,
.menu-icon-cross-01,
.menu-icon-cross-02 {
	top: 31px;
}

.menu-icon-line-03 {
	top: 37.4px;
}

.menu-icon-cross-01 {
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

.menu-icon-cross-02 {
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.menu-icon-line {
	-webkit-transition-duration: 0.6s;
	transition-duration: 0.6s;
	-webkit-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
	transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

.menu-icon-line-in {
	-webkit-transition-duration: 0.6s;
	transition-duration: 0.6s;
	-webkit-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
	transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

.menu-icon-line-in::before,
.menu-icon-line-in::after {
	-webkit-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
	transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
	-webkit-transition-property: -webkit-transform;
	transition-property: -webkit-transform;
	transition-property: transform;
	transition-property: transform, -webkit-transform;
}

.menu-icon-cross-in-01,
.menu-icon-cross-in-02 {
	-webkit-transform: translateX(-33.3%);
	transform: translateX(-33.3%);
}

.menu-icon-line-in-01 {
	-webkit-transition-delay: 0.2s;
	transition-delay: 0.2s;
}

.menu-icon-line-in-02 {
	-webkit-transition-delay: 0.25s;
	transition-delay: 0.25s;
}

.menu-icon-line-in-02::before,
.menu-icon-line-in-02::after {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
}

.menu-icon-line-in-03 {
	-webkit-transition-delay: 0.3s;
	transition-delay: 0.3s;
}

.menu-icon-line-in-03::before,
.menu-icon-line-in-03::after {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

.menu-icon-cross-in-01 {
	-webkit-transition-delay: 0.0s;
	transition-delay: 0.0s;
}

.menu-icon-cross-in-02 {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
}

.menu-icon-cross-in-02::before,
.menu-icon-cross-in-02::after {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

.menu-icon.is-opened-navi .menu-icon-line-in-01,
.menu-icon.is-opened-navi .menu-icon-line-in-02,
.menu-icon.is-opened-navi .menu-icon-line-in-03 {
	-webkit-transform: translateX(33.3%);
	transform: translateX(33.3%);
}

.menu-icon.is-opened-navi .menu-icon-cross-in-01,
.menu-icon.is-opened-navi .menu-icon-cross-in-02 {
	-webkit-transform: translateX(0);
	transform: translateX(0);
}

.menu-icon.is-opened-navi .menu-icon-line-in-01 {
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}

.menu-icon.is-opened-navi .menu-icon-line-in-02 {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
}

.menu-icon.is-opened-navi .menu-icon-line-in-03 {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

.menu-icon.is-opened-navi .menu-icon-cross-in-01 {
	-webkit-transition-delay: 0.25s;
	transition-delay: 0.25s;
}

.menu-icon.is-opened-navi .menu-icon-cross-in-02 {
	-webkit-transition-delay: 0.3s;
	transition-delay: 0.3s;
}

.menu-icon:hover .menu-icon-line-in::before,
.menu-icon:hover .menu-icon-line-in::after {
	-webkit-transform: translateX(200%);
	transform: translateX(200%);
}

.menu-icon:hover .menu-icon-line-in-01::before,
.menu-icon:hover .menu-icon-line-in-01::after,
.menu-icon:hover .menu-icon-line-in-02::before,
.menu-icon:hover .menu-icon-line-in-02::after,
.menu-icon:hover .menu-icon-line-in-03::before,
.menu-icon:hover .menu-icon-line-in-03::after {
	-webkit-transition-duration: 1s;
	transition-duration: 1s;
}

.menu-icon:hover .menu-icon-cross-in-01::before,
.menu-icon:hover .menu-icon-cross-in-01::after,
.menu-icon:hover .menu-icon-cross-in-02::before,
.menu-icon:hover .menu-icon-cross-in-02::after {
	-webkit-transition-duration: 0s;
	transition-duration: 0s;
}

.menu-icon.is-opened-navi:hover .menu-icon-cross-in-01::before,
.menu-icon.is-opened-navi:hover .menu-icon-cross-in-01::after,
.menu-icon.is-opened-navi:hover .menu-icon-cross-in-02::before,
.menu-icon.is-opened-navi:hover .menu-icon-cross-in-02::after {
	-webkit-transition-duration: 1s;
	transition-duration: 1s;
}

.menu-icon.is-opened-navi:hover .menu-icon-line-in-01::before,
.menu-icon.is-opened-navi:hover .menu-icon-line-in-01::after,
.menu-icon.is-opened-navi:hover .menu-icon-line-in-02::before,
.menu-icon.is-opened-navi:hover .menu-icon-line-in-02::after,
.menu-icon.is-opened-navi:hover .menu-icon-line-in-03::before,
.menu-icon.is-opened-navi:hover .menu-icon-line-in-03::after {
	-webkit-transition-duration: 0s;
	transition-duration: 0s;
}

@media (--breakpoint-not-small) {
  .menu-icon {
  	width: 64px;
  	height: 64px;
  	z-index: 110;
  	background-color: #141a16;
  	-webkit-tap-highlight-color: rgba(0,0,0,0);
    transform: none;
  }
}
