/* Slider */
.siema img {
  width: 100%;
}

#controllers button {
  position: relative;
  top: -30px;
  width: 30px;
  height: 30px;
  background: transparent;
  border: hidden;
  font-size: 0;
  cursor: pointer;
}

#controllers button:before {
  width: 15px;
	height: 15px;
	box-sizing: border-box;
	content: '';
	display: block;
	position: absolute;
	pointer-events: none;
	border: 4px solid black;
  background: white;
	border-radius: 50%;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

#controllers button:after {
	width: 30px;
	height: 30px;
	box-sizing: border-box;
	content: '';
	display: block;
	position: absolute;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
	pointer-events: none;
	border: 4px solid rgba(0,0,0,.4);
	border-radius: 50%;
  opacity: 0;
	-webkit-animation-duration: 1.2s;
	animation-duration: 1.2s;
	-webkit-animation-name: intervalmenu-iconBorder;
	animation-name: intervalmenu-iconBorder;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
}

#controllers button:hover:after {
  border: 4px solid rgba(0,0,0,1);
  background: white;
}
